In [150]:
# path_to_predictions = "/home/jupyter-n.mekkes@gmail.com-f6d87/clinical_history/final_predictions/ALL_clinical_trajectories_dictionary_rules_of_thumb_yearly_2023-01-31.pkl"
path_to_predictions = "/home/jupyter-n.mekkes@gmail.com-f6d87/clinical_history/final_predictions/ALL_clinical_trajectories_dictionary_rules_of_thumb_yearly_2023-07-11.pkl"
output_path = "/home/jupyter-n.mekkes@gmail.com-f6d87/clinical_history/temporal_model/data"
general_information = "/home/jupyter-n.mekkes@gmail.com-f6d87/clinical_history/input_data/General_information_20-07-2023.xlsx"

In [151]:
#Kernel: simplemodels3
#Python version on web portal: 3.9.5
from __future__ import absolute_import, division, print_function
# import seaborn as sns; sns.set()
import numpy as np; np.random.seed(0)
# from matplotlib import pyplot as plt 

import xlsxwriter
import pandas as pd
import numpy as np
import pickle
import os
from sklearn import model_selection 
from collections import Counter
from skmultilearn.model_selection.measures import get_combination_wise_output_matrix
from natsort import natsorted
import sys
sys.path.insert(0, '/home/jupyter-n.mekkes@gmail.com-f6d87/clinical_history/scripts')
from helper_functions import table_selector

In [152]:
if not os.path.exists(output_path):
    print('Creating output folder....')
    os.makedirs(output_path)

In [153]:
with open(path_to_predictions,"rb") as file:
    predictions_pickle = pickle.load(file)

d = []
for i,j in zip(predictions_pickle,predictions_pickle.values()):
    k = pd.DataFrame.from_dict(j,orient="index")
    k["DonorID"] = i
    k['Age'] = k.index
    d.append(k)
predictions_df =pd.concat(d, ignore_index=True)

print(f"there are {len(list(predictions_df['DonorID'].unique()))} unique donor IDs")
print(predictions_df.shape)
# display(predictions_df.head())

there are 3128 unique donor IDs
(51548, 89)

In [154]:
general_information_df = pd.read_excel(general_information, engine='openpyxl', sheet_name="Sheet1")
donors_to_remove = list(general_information_df[general_information_df['paper diagnosis']=='exclude'].DonorID)
predictions_df = predictions_df[~predictions_df['DonorID'].isin(donors_to_remove)]
print(f"there are {len(list(predictions_df['DonorID'].unique()))} unique donor IDs")
print(len(donors_to_remove))
predictions_df['neuropathological_diagnosis'] = predictions_df['DonorID'].map(general_information_df.set_index('DonorID')['paper diagnosis'])
display(predictions_df.head())
print(sorted(predictions_df['neuropathological_diagnosis'].unique()))
print(f"there are {len(list(predictions_df['DonorID'].unique()))} unique donor IDs")

there are 3081 unique donor IDs
48

,neuropathological_diagnosis,age_at_death,sex,Muscular_Weakness,Spasticity,Hyperreflexia_and_oth_reflexes,Fasciculations,Positive_sensory_symptoms,Negative_sensory_symptoms,Parkinsonism,...,Fatigue,Declined_deteriorated_health,Cachexia,Weight_loss,Reduces_oral_intake,Help_in_ADL,Day_care,Admission_to_nursing_home,DonorID,Age
0,TUM,42,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NBB 1982-016,-9
1,TUM,42,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NBB 1982-016,35
2,TUM,42,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NBB 1982-016,38
3,TUM,42,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NBB 1982-016,40
4,TUM,42,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NBB 1982-016,41

['AD', 'AD,CA', 'AD,DLB', 'AD,ENCEPHA,VE', 'AD,ILBD', 'ALEX', 'ATAXIA, FXTAS', 'ATAXIA,ADCA', 'ATAXIA,FA', 'ATAXIA,SCA', 'BINSW', 'CA', 'CBD', 'CJD', 'COHA', 'CON', 'CVA', 'DAI', 'DEM,CVA', 'DEM,ENCEPHA,VE', 'DEM,SICC', 'DEM,SICC,AGD', 'DEM,SICC,CA', 'DEM,SICC,ILBD', 'DLB', 'DLB,SICC', 'DOWN', 'DYSTO', 'ENCE', 'ENCEPHA,PML', 'ENCEPHA,VE', 'EPI', 'FAHR', 'FRAGX', 'FTD', 'FTD,FTD-FUS', 'FTD,FTD-TAU,TAU', 'FTD,FTD-TDP', 'FTD,FTD-TDP,MND', 'FTD,FTD-TDP-A,PROG', 'FTD,FTD-TDP-B,C9ORF72', 'FTD,FTD-TDP-C', 'FTD,FTD-UPS', 'FTD,PID', 'GUIL', 'HD', 'HIP', 'HIV', 'HMSN', 'HSP', 'ILBD', 'IS', 'KLIN', 'LD', 'LDA', 'MEDIS', 'MEN', 'MND', 'MND,ALS', 'MS', 'MS,AD', 'MS,MS-PP', 'MS,MS-RR', 'MS,MS-SP', 'MS,MS-UN', 'MSA', 'NCSD', 'NHL', 'NIG', 'NMO', 'PAL', 'PCAD', 'PD', 'PD,AD', 'PD,ATPD', 'PDD', 'POLY', 'PSP', 'PSYCH', 'PSYCH,ADHD', 'PSYCH,ASD', 'PSYCH,BP', 'PSYCH,MDD', 'PSYCH,NARCO', 'PSYCH,OCD', 'PSYCH,PTSD', 'PSYCH,SCZ', 'PSYCH,SCZ,AD', 'PSYCH,WH', 'PWS', 'SEP', 'SICC,ILBD', 'TAU', 'TRANS,AD', 'TRANS,PSYCH', 'TRANS,PSYCH,MDD', 'TRANS,PSYCH,MDD,ILBD', 'TRANS,TUM', 'TUM', 'UNDEFINED', 'VD', 'VD,ILBD', 'VDCAD', 'WER,KOR']
there are 3081 unique donor IDs

In [157]:
trajectories = predictions_df.copy()
# trajectories = trajectories.drop(['Year'], axis=1)
unique_diagnoses = trajectories[['DonorID', 'neuropathological_diagnosis']].drop_duplicates()
display(unique_diagnoses['neuropathological_diagnosis'].value_counts().head(20))
display(trajectories.head())

AD                 720
CON                445
MS,MS-SP           137
PD                 134
PDD                126
AD,DLB             121
PSP                 91
MS,MS-PP            74
VD                  64
MSA                 61
DLB,SICC            60
DEM,SICC            59
FTD,FTD-TDP         59
PSYCH,MDD           56
PSYCH,BP            49
AD,ILBD             46
FTD,FTD-TAU,TAU     43
AD,CA               42
FTD,PID             41
MS                  35
Name: neuropathological_diagnosis, dtype: int64

,neuropathological_diagnosis,age_at_death,sex,Muscular_Weakness,Spasticity,Hyperreflexia_and_oth_reflexes,Fasciculations,Positive_sensory_symptoms,Negative_sensory_symptoms,Parkinsonism,...,Fatigue,Declined_deteriorated_health,Cachexia,Weight_loss,Reduces_oral_intake,Help_in_ADL,Day_care,Admission_to_nursing_home,DonorID,Age
0,TUM,42,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NBB 1982-016,-9
1,TUM,42,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NBB 1982-016,35
2,TUM,42,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NBB 1982-016,38
3,TUM,42,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NBB 1982-016,40
4,TUM,42,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NBB 1982-016,41

### remove donors before 1997

In [113]:
trajectories['file_year'] = trajectories['DonorID'].str.extract(r'NBB (\d{4})-\d{3}', expand=False)
trajectories['file_year'] = pd.to_numeric(trajectories['file_year'])
trajectories = trajectories[trajectories['file_year'] >= 1997]
display(trajectories.head())

,neuropathological_diagnosis,age_at_death,sex,Muscular_Weakness,Spasticity,Hyperreflexia_and_oth_reflexes,Fasciculations,Positive_sensory_symptoms,Negative_sensory_symptoms,Parkinsonism,...,Declined_deteriorated_health,Cachexia,Weight_loss,Reduces_oral_intake,Help_in_ADL,Day_care,Admission_to_nursing_home,DonorID,Age,file_year
1159,CON,97,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NBB 1997-002,-9,1997
1160,CON,97,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NBB 1997-002,97,1997
1161,CON,69,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NBB 1997-005,47,1997
1162,CON,69,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NBB 1997-005,53,1997
1163,CON,69,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NBB 1997-005,54,1997

In [114]:
unique_diagnoses = trajectories[['DonorID', 'neuropathological_diagnosis']].drop_duplicates()
unique_diagnoses['neuropathological_diagnosis'].value_counts().head(20)

AD                 487
CON                356
PDD                122
PD                 120
MS,MS-SP           112
AD,DLB             104
PSP                 87
MS,MS-PP            66
MSA                 57
VD                  54
PSYCH,MDD           54
FTD,FTD-TDP         54
DLB,SICC            49
PSYCH,BP            46
DEM,SICC            44
FTD,FTD-TAU,TAU     36
MS                  32
DLB                 31
AD,ILBD             31
FTD,PID             30
Name: neuropathological_diagnosis, dtype: int64

In [116]:
m = 1 ## obs
n = 5 ## years ## we also use this one to select for how many total observations 
## 5 means with flattened, 6 means without
remove3 = True
observation = False
unique = False
eighties = False
remove_diagnoses = ['DLB','ATAXIA']

In [117]:
non_attribute_columns = ['DonorID','Age','neuropathological_diagnosis','age_at_death','Year','sex','file_year'] #'death_year_based_on_DonorID'

In [118]:
trajectories = trajectories.sort_values(['DonorID', 'Age'],
              ascending = [True, True])

### Select only table 1 cases

In [119]:
selected_diagnoses, ordered_diagnoses = table_selector('table1_p', trajectories)
print('After selecting for {}, we have {} sentences belonging to {} donors'.format(selected_diagnoses['neuropathological_diagnosis'].unique(),
                                                                                    selected_diagnoses.shape[0],
                                                                                    selected_diagnoses['DonorID'].nunique()) )

After selecting for ['AD' 'CON' 'MS' 'FTD' 'PDD' 'VD' 'MSA' 'PD' 'MDD' 'BP' 'PSP' 'SCZ' 'MND'
 'DLB' 'ATAXIA'], we have 32356 sentences belonging to 1898 donors

### remove/add/merge some diagnoses

In [120]:
## PDD into PD
selected_diagnoses['neuropathological_diagnosis'] = selected_diagnoses['neuropathological_diagnosis'].replace('PDD', 'PD')
## add D,DLB
selected_diagnoses = pd.concat([selected_diagnoses, trajectories[trajectories['neuropathological_diagnosis'] == 'AD,DLB']], ignore_index=True)
# remove psych
selected_diagnoses = selected_diagnoses[selected_diagnoses['neuropathological_diagnosis'] != 'MDD']
selected_diagnoses = selected_diagnoses[selected_diagnoses['neuropathological_diagnosis'] != 'BP']
selected_diagnoses = selected_diagnoses[selected_diagnoses['neuropathological_diagnosis'] != 'SCZ']
display(selected_diagnoses.head())
unique_diagnoses = selected_diagnoses[['DonorID', 'neuropathological_diagnosis']].drop_duplicates()
unique_diagnoses['neuropathological_diagnosis'].value_counts().head(30)

,neuropathological_diagnosis,age_at_death,sex,Muscular_Weakness,Spasticity,Hyperreflexia_and_oth_reflexes,Fasciculations,Positive_sensory_symptoms,Negative_sensory_symptoms,Parkinsonism,...,Declined_deteriorated_health,Cachexia,Weight_loss,Reduces_oral_intake,Help_in_ADL,Day_care,Admission_to_nursing_home,DonorID,Age,file_year
0,AD,71,M,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NBB 1997-001,35,1997
1,AD,71,M,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NBB 1997-001,36,1997
2,AD,71,M,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NBB 1997-001,37,1997
3,AD,71,M,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NBB 1997-001,38,1997
4,AD,71,M,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NBB 1997-001,39,1997

AD        487
CON       356
PD        242
MS        237
FTD       194
AD,DLB    104
PSP        87
MSA        57
VD         54
DLB        31
ATAXIA     17
MND        16
Name: neuropathological_diagnosis, dtype: int64

### remove observations without yearly information

In [121]:
selected_diagnoses = selected_diagnoses[selected_diagnoses.Age >= 0]
selected_diagnoses = selected_diagnoses.reset_index(drop=True)
unique_diagnoses = selected_diagnoses[['DonorID', 'neuropathological_diagnosis']].drop_duplicates()
unique_diagnoses['neuropathological_diagnosis'].value_counts().head(30)

AD        483
CON       315
PD        240
MS        236
FTD       192
AD,DLB    103
PSP        87
MSA        57
VD         54
DLB        30
ATAXIA     17
MND        16
Name: neuropathological_diagnosis, dtype: int64

In [122]:
selected_diagnoses = selected_diagnoses.sort_values(['DonorID', 'Age'],
              ascending = [True, True])
selected_diagnoses.head()

,neuropathological_diagnosis,age_at_death,sex,Muscular_Weakness,Spasticity,Hyperreflexia_and_oth_reflexes,Fasciculations,Positive_sensory_symptoms,Negative_sensory_symptoms,Parkinsonism,...,Declined_deteriorated_health,Cachexia,Weight_loss,Reduces_oral_intake,Help_in_ADL,Day_care,Admission_to_nursing_home,DonorID,Age,file_year
0,AD,71,M,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NBB 1997-001,35,1997
1,AD,71,M,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NBB 1997-001,36,1997
2,AD,71,M,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NBB 1997-001,37,1997
3,AD,71,M,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NBB 1997-001,38,1997
4,AD,71,M,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NBB 1997-001,39,1997

#### DONORS with a diagnosis need at least n years with at least m observations

In [133]:
## how many observations has each donor?
data = selected_diagnoses.copy()
# display(data.groupby('DonorID')['Age'].nunique())

## df showing number of observations
data2 = data.drop(columns=['age_at_death','sex','Age','file_year'])
data2 = data2.groupby(['DonorID','neuropathological_diagnosis']).sum()
data2 = pd.DataFrame(data2.sum(axis=1),columns=['count'])
data2 = data2.reset_index()  
data2 = data2.set_index('DonorID')
data2['uniqueage'] = data.groupby('DonorID')['Age'].nunique()
display(data2)

## con are the exception, they are allowed to have little data
data3 = data2[data2['neuropathological_diagnosis'] != 'CON']
donors_not_enough_data = data3.index[data3['count'] < 5].tolist()

print(donors_not_enough_data)
print(len(donors_not_enough_data))
data = data[~data['DonorID'].isin(donors_not_enough_data)]
data = data.reset_index(drop=True)

unique_diagnoses = data[['DonorID', 'neuropathological_diagnosis']].drop_duplicates()
unique_diagnoses['neuropathological_diagnosis'].value_counts().head(30)

             neuropathological_diagnosis  count  uniqueage
DonorID
NBB 1997-001                          AD     60         37
NBB 1997-002                         CON      0          1
NBB 1997-003                          AD     71         10
NBB 1997-005                         CON      8         13
NBB 1997-006                          MS     13          9
...                                  ...    ...        ...
NBB 2020-029                         PSP     34          3
NBB 2020-030                         MSA     70          6
NBB 2020-052                         CON     68         31
NBB 2020-054                         CON      7          3
NBB 2020-078                         FTD     72          7

[1830 rows x 3 columns]

['NBB 1997-012', 'NBB 1997-098', 'NBB 1998-066', 'NBB 1998-099', 'NBB 1999-039', 'NBB 1999-070', 'NBB 2004-003', 'NBB 2005-031', 'NBB 2012-115', 'NBB 2012-116', 'NBB 2012-120', 'NBB 2015-012', 'NBB 2015-071']
13

AD        478
CON       315
PD        238
MS        235
FTD       190
AD,DLB    102
PSP        86
MSA        57
VD         53
DLB        30
ATAXIA     17
MND        16
Name: neuropathological_diagnosis, dtype: int64

## for figure 5

In [134]:
print(len(data['DonorID'].unique()))

1817

### creating data for model

#### INPUT
array of arrays. each array is for a single donor, consisting of shape time x attribute

In [135]:
inp = data.copy()
inp = inp.drop(['neuropathological_diagnosis','file_year','age_at_death'],axis=1)
inp['sex'] = inp['sex'].map({'F': 1, 'M': 0}).astype(int)
inp['Age']  = inp['Age'].astype(int)
def sum_except_donors(df):
    return df.iloc[:, ].sum()

inp = inp.sort_values(['DonorID', 'Age'],
              ascending = [True, True])

inp_with_nan = inp.copy()
inp_with_nan = inp_with_nan.reset_index(drop=True)
display(inp_with_nan)
final_input = inp_with_nan.set_index('DonorID').groupby('DonorID').apply(pd.DataFrame.to_numpy).to_numpy()
print(final_input)

,sex,Muscular_Weakness,Spasticity,Hyperreflexia_and_oth_reflexes,Fasciculations,Positive_sensory_symptoms,Negative_sensory_symptoms,Parkinsonism,Facial_masking,Tremor,...,Fatigue,Declined_deteriorated_health,Cachexia,Weight_loss,Reduces_oral_intake,Help_in_ADL,Day_care,Admission_to_nursing_home,DonorID,Age
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NBB 1997-001,35
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NBB 1997-001,36
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NBB 1997-001,37
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NBB 1997-001,38
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NBB 1997-001,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32772,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,NBB 2020-078,67
32773,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,NBB 2020-078,68
32774,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,NBB 2020-078,69
32775,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,NBB 2020-078,70
32776,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,NBB 2020-078,71

[array([[ 0,  0,  0, ...,  0,  0, 35],
        [ 0,  0,  0, ...,  0,  0, 36],
        [ 0,  0,  0, ...,  0,  0, 37],
        ...,
        [ 0,  0,  0, ...,  0,  1, 69],
        [ 0,  0,  0, ...,  0,  1, 70],
        [ 0,  0,  0, ...,  0,  1, 71]])
 array([[ 1,  0,  0, ...,  0,  0, 97]])
 array([[ 0,  0,  0, ...,  0,  0, 79],
        [ 0,  0,  0, ...,  0,  0, 80],
        [ 0,  0,  0, ...,  0,  0, 81],
        ...,
        [ 0,  0,  0, ...,  1,  1, 86],
        [ 0,  0,  0, ...,  1,  1, 87],
        [ 0,  0,  0, ...,  1,  1, 88]]) ...
 array([[  1,   0,   0, ...,   0,   0,  54],
        [  1,   0,   0, ...,   0,   0,  55],
        [  1,   0,   0, ...,   0,   0,  62],
        ...,
        [  1,   0,   0, ...,   0,   0, 100],
        [  1,   0,   0, ...,   0,   0, 101],
        [  1,   1,   0, ...,   0,   0, 102]])
 array([[ 1,  1,  0, ...,  0,  0, 18],
        [ 1,  1,  0, ...,  0,  0, 80],
        [ 1,  0,  0, ...,  0,  0, 81]])
 array([[ 0,  0,  0, ...,  0,  0, 65],
        [ 0,  0,  0, ...,  0,  0, 66],
        [ 0,  0,  0, ...,  1,  0, 67],
        ...,
        [ 0,  0,  0, ...,  1,  0, 69],
        [ 0,  0,  0, ...,  1,  0, 70],
        [ 0,  0,  0, ...,  1,  0, 71]])]

In [136]:
print(final_input.shape)
print(final_input[0].shape)

(1817,)
(37, 86)

#### LABEL TASKNAME

array in the shape samples X diagnosis

In [137]:
np.set_printoptions(threshold=30)
lt = data[['DonorID','neuropathological_diagnosis']].copy()
# lt = lt[~lt['DonorID'].isin(weirds)]
lt = lt.drop_duplicates().reset_index(drop=True)

display(lt)

donorcount = len(lt['DonorID'])
print(donorcount)
print(lt['neuropathological_diagnosis'].value_counts())
print(lt.neuropathological_diagnosis.unique())

one_hot = pd.get_dummies(lt.neuropathological_diagnosis)

# Define the ordered list
wanted = ['CON', 'AD', 'PD', 'VD', 'FTD','DLB','AD,DLB','ATAXIA', 'MND', 'PSP', 'MS','MSA'] #'AD,DLB' 'DLB,SICC',

# Get the current columns of the dataframe
current_cols = list(one_hot.columns)

# Create a new list of columns in the order of the 'wanted' list
new_cols = [col for col in wanted if col in current_cols]

# Reorder the columns of the dataframe using the new list of columns
one_hot = one_hot.reindex(columns=new_cols)
display(one_hot)
final_label_taskname = one_hot.to_numpy()
display(final_label_taskname)

           DonorID neuropathological_diagnosis
0     NBB 1997-001                          AD
1     NBB 1997-002                         CON
2     NBB 1997-003                          AD
3     NBB 1997-005                         CON
4     NBB 1997-006                          MS
...            ...                         ...
1812  NBB 2020-029                         PSP
1813  NBB 2020-030                         MSA
1814  NBB 2020-052                         CON
1815  NBB 2020-054                         CON
1816  NBB 2020-078                         FTD

[1817 rows x 2 columns]

1817
AD        478
CON       315
PD        238
MS        235
FTD       190
AD,DLB    102
PSP        86
MSA        57
VD         53
DLB        30
ATAXIA     17
MND        16
Name: neuropathological_diagnosis, dtype: int64
['AD' 'CON' 'MS' 'AD,DLB' 'FTD' 'PD' 'VD' 'MSA' 'PSP' 'MND' 'DLB' 'ATAXIA']

      CON  AD  PD  VD  FTD  DLB  AD,DLB  ATAXIA  MND  PSP  MS  MSA
0       0   1   0   0    0    0       0       0    0    0   0    0
1       1   0   0   0    0    0       0       0    0    0   0    0
2       0   1   0   0    0    0       0       0    0    0   0    0
3       1   0   0   0    0    0       0       0    0    0   0    0
4       0   0   0   0    0    0       0       0    0    0   1    0
...   ...  ..  ..  ..  ...  ...     ...     ...  ...  ...  ..  ...
1812    0   0   0   0    0    0       0       0    0    1   0    0
1813    0   0   0   0    0    0       0       0    0    0   0    1
1814    1   0   0   0    0    0       0       0    0    0   0    0
1815    1   0   0   0    0    0       0       0    0    0   0    0
1816    0   0   0   0    1    0       0       0    0    0   0    0

[1817 rows x 12 columns]

array([[0, 1, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

#### MASKING
Masking is a datatype of the same shape as input. it is used to indicate which data is present, and which data is absent. If a row of data would be [nan, nan, 0, 0, 3.14, 10], the masking row would be [0,0,1,1,1,1]. In our case, we have options:
- every value larger than 1 to 1, every zero to zero. because a zero can mean that the symptom is present, it is just not written down that year?
- every value to 1.

In [138]:
final_input

array([array([[ 0,  0,  0, ...,  0,  0, 35],
              [ 0,  0,  0, ...,  0,  0, 36],
              [ 0,  0,  0, ...,  0,  0, 37],
              ...,
              [ 0,  0,  0, ...,  0,  1, 69],
              [ 0,  0,  0, ...,  0,  1, 70],
              [ 0,  0,  0, ...,  0,  1, 71]]),
       array([[ 1,  0,  0, ...,  0,  0, 97]]),
       array([[ 0,  0,  0, ...,  0,  0, 79],
              [ 0,  0,  0, ...,  0,  0, 80],
              [ 0,  0,  0, ...,  0,  0, 81],
              ...,
              [ 0,  0,  0, ...,  1,  1, 86],
              [ 0,  0,  0, ...,  1,  1, 87],
              [ 0,  0,  0, ...,  1,  1, 88]]), ...,
       array([[  1,   0,   0, ...,   0,   0,  54],
              [  1,   0,   0, ...,   0,   0,  55],
              [  1,   0,   0, ...,   0,   0,  62],
              ...,
              [  1,   0,   0, ...,   0,   0, 100],
              [  1,   0,   0, ...,   0,   0, 101],
              [  1,   1,   0, ...,   0,   0, 102]]),
       array([[ 1,  1,  0, ...,  0,  0, 18],
              [ 1,  1,  0, ...,  0,  0, 80],
              [ 1,  0,  0, ...,  0,  0, 81]]),
       array([[ 0,  0,  0, ...,  0,  0, 65],
              [ 0,  0,  0, ...,  0,  0, 66],
              [ 0,  0,  0, ...,  1,  0, 67],
              ...,
              [ 0,  0,  0, ...,  1,  0, 69],
              [ 0,  0,  0, ...,  1,  0, 70],
              [ 0,  0,  0, ...,  1,  0, 71]])], dtype=object)

In [139]:
import copy
final_masking = copy.deepcopy(final_input)

In [140]:
for k in range(len(final_masking)):
    final_masking[k][final_masking[k] >= 0] = 1    

print(final_masking)

[array([[1, 1, 1, ..., 1, 1, 1],
        [1, 1, 1, ..., 1, 1, 1],
        [1, 1, 1, ..., 1, 1, 1],
        ...,
        [1, 1, 1, ..., 1, 1, 1],
        [1, 1, 1, ..., 1, 1, 1],
        [1, 1, 1, ..., 1, 1, 1]]) array([[1, 1, 1, ..., 1, 1, 1]])
 array([[1, 1, 1, ..., 1, 1, 1],
        [1, 1, 1, ..., 1, 1, 1],
        [1, 1, 1, ..., 1, 1, 1],
        ...,
        [1, 1, 1, ..., 1, 1, 1],
        [1, 1, 1, ..., 1, 1, 1],
        [1, 1, 1, ..., 1, 1, 1]]) ... array([[1, 1, 1, ..., 1, 1, 1],
                                             [1, 1, 1, ..., 1, 1, 1],
                                             [1, 1, 1, ..., 1, 1, 1],
                                             ...,
                                             [1, 1, 1, ..., 1, 1, 1],
                                             [1, 1, 1, ..., 1, 1, 1],
                                             [1, 1, 1, ..., 1, 1, 1]])
 array([[1, 1, 1, ..., 1, 1, 1],
        [1, 1, 1, ..., 1, 1, 1],
        [1, 1, 1, ..., 1, 1, 1]]) array([[1, 1, 1, ..., 1, 1, 1],
                                         [1, 1, 1, ..., 1, 1, 1],
                                         [1, 1, 1, ..., 1, 1, 1],
                                         ...,
                                         [1, 1, 1, ..., 1, 1, 1],
                                         [1, 1, 1, ..., 1, 1, 1],
                                         [1, 1, 1, ..., 1, 1, 1]])]

#### TIMESTAMP
Timestamp is another array of arrays. There is an array for every donor, that consists of the timepoints that are known for that donor. e.g. if donor1 has information from age 34, 61, and 62, then his timestamp would be [34,61,62].

In [141]:
timestamp_df = inp[['DonorID','Age']].copy()
timestamp_df
final_timestamp = timestamp_df.set_index('DonorID').groupby('DonorID').apply(pd.DataFrame.to_numpy).to_numpy()
final_timestamp

array([array([[35],
              [36],
              [37],
              ...,
              [69],
              [70],
              [71]]), array([[97]]), array([[79],
                                            [80],
                                            [81],
                                            [82],
                                            [83],
                                            [84],
                                            [85],
                                            [86],
                                            [87],
                                            [88]]), ..., array([[ 54],
                                                                [ 55],
                                                                [ 62],
                                                                ...,
                                                                [100],
                                                                [101],
                                                                [102]]),
       array([[18],
              [80],
              [81]]), array([[65],
                             [66],
                             [67],
                             [68],
                             [69],
                             [70],
                             [71]])], dtype=object)

### SPLITTING BALANCED

In [142]:
## This function takes the created train and test data as input
## it returns a measure of how similar train is to test
## it also shows an overview of the number of cases per attribute
## and a corrected version of this overview
def split_vis(x_train,x_test,y_train, y_test,train_val_size,test_size):
    """
    something
    """
    counts = {}
    counts["train_counts"] = Counter(str(combination) for row in get_combination_wise_output_matrix(
        y_train, order=1) for combination in row)
    counts["test_counts"] = Counter(str(combination) for row in get_combination_wise_output_matrix(
        y_test, order=1) for combination in row)    

    # view distributions
    multi_split_dist = pd.DataFrame({
        "for_train_and_val": counts["train_counts"],
        "test": counts["test_counts"]
    }).T.fillna(0)
    multi_split_dist = multi_split_dist.reindex(natsorted(multi_split_dist.columns), axis=1)
#     multi_split_dist.columns = labels
    
    for k in counts["test_counts"].keys():
        counts["test_counts"][k] = int(counts["test_counts"][k] * (train_val_size/test_size))
        
    # View size corrected distributions
    multi_split_dist_corr = pd.DataFrame({
        "for_train_and_val": counts["train_counts"],
        "test": counts["test_counts"]
    }).T.fillna(0)
    multi_split_dist_corr =multi_split_dist_corr.reindex(natsorted(multi_split_dist_corr.columns), axis=1)
#     multi_split_dist_corr.columns = labels
    
    print(f"train: {len(x_train)} ({len(x_train)/(len(x_train)+len(x_test)):.2f})\n"
          f"test: {len(x_test)} ({len(x_test)/(len(x_train)+len(x_test)):.2f})")
    dist_split = np.mean(np.std(multi_split_dist_corr.to_numpy(), axis=0))
    
    return dist_split,multi_split_dist,multi_split_dist_corr

## for figure 5, counts for split are in here

In [143]:
import numpy as np
from sklearn.model_selection import StratifiedKFold

if eighties == True:
    n_split = 10 # 5 for 60-20-20, 10 for 80-10-10
    n_split_in = 9 # 4 for 60-20-20, 9 for 80-10-10
elif eighties == False:
    n_split = 5 # 5 for 60-20-20, 10 for 80-10-10
    n_split_in = 4 # 4 for 60-20-20, 9 for 80-10-10

fold_taskname = np.empty(shape=(5, 3), dtype=object)

# X = np.array([0, 2, 1, 1,0,2,0, 2, 1, 1,0,2,0, 2, 1, 1,0,2])
# y = np.array([0, 2, 1, 1,0,2,0, 2, 1, 1,0,2,0, 2, 1, 1,0,2])
X = np.array(lt['neuropathological_diagnosis'].values)
y = np.array(lt['neuropathological_diagnosis'].values)
print(y)
print(y.shape)


## SET UP SPLIT BETWEEN TEST AND TRAIN/VAL
skf = StratifiedKFold(n_splits=n_split, random_state=1, shuffle=True)
skf.get_n_splits(X, y)
print(skf)
j = 0
for train_val_index, test_index in skf.split(X, y):
#     print("TRAIN+VAL:", train_val_index, "TEST:", test_index)
    ## USE THE GENERATED INDICES TO SELECT DIAGNOSES
    q_train_val, q_test = X[train_val_index], X[test_index]
    r_train_val, r_test = y[train_val_index], y[test_index]
#     print('test:' , test_index)
#     print('trainval: ', train_val_index)
    skf2 = StratifiedKFold(n_splits=n_split_in, random_state=2, shuffle=True)
    skf2.get_n_splits(X, y)
    print(skf2)
    
    ## WITHIN EACH FOLD, SPLIT TRAIN/VAL INTO TRAIN AND VAL (ONLY NEEDED ONCE!)
    i = 0
    ## example: 
    ## [0,1,2,3,4,5,6,7,8,9]  full data ['a','b','c','d','e','f','g','h','i','j']
    ## [0,2,3,5,7,9] indices selected for train/val ['a','c','d','f','h','j']
    ## [0,1,2,3,4,5]
    ## [0,2,3,9] indices points selected for train ['a','c','d','j']
    for train_index, val_index in skf2.split(q_train_val, r_train_val):
        print(i)
        if i == 0:
            ## USE THE GENERATED INDICES TO CREATE NEW INDICES THAT WORK ON THE FULL DATA
            true_train = train_val_index[train_index]
            true_val = train_val_index[val_index]
            
            ## PRINT THE INDICES
            print("TRAIN:", true_train, "\nVAL:", true_val, "\nTEST:", test_index)
            q_train, q_val, q_test = X[true_train], X[true_val],X[test_index]
            r_train, r_val, q_test = y[true_train], y[true_val],y[test_index] 
            
            #print('trainval: ',train_val_index,train_val_index.shape )
            #print('train: ',train_index, train_index.shape)
            print(f"train: {len(q_train)} ({len(q_train)/(len(q_train)+len(q_test)+len(q_val)):.2f})\n"
                  f"val: {len(q_val)} ({len(q_val)/(len(q_train)+len(q_test)+len(q_val)):.2f})\n"
                  f"test: {len(q_test)} ({len(q_test)/(len(q_train)+len(q_test)+len(q_val)):.2f})")
            
            ## SAVE INTO NUMPY ARRAY
            fold_taskname[j][0] = np.asarray(true_train)
            fold_taskname[j][1] = np.asarray(true_val)
            fold_taskname[j][2] = np.asarray(test_index)
            
            ## FOR VISUALIZING COUNTS PER DIAGNOSIS PER FOLD
            ## TRAINING
            foo, bar = np.unique(q_train, return_counts=True)
            my_dict = dict(zip(foo, bar))
            df = pd.DataFrame(list(my_dict.items()),columns = ['diagnosis','train'])
            
            ## VALIDATION
            foo, bar = np.unique(q_val, return_counts=True)
            my_dict = dict(zip(foo, bar))
            df1 = pd.DataFrame(list(my_dict.items()),columns = ['diagnosis2','val'])
            
            ## TEST
            foo, bar = np.unique(q_test, return_counts=True)
            my_dict = dict(zip(foo, bar))
            df2 = pd.DataFrame(list(my_dict.items()),columns = ['diagnosis3','test'])
            
            ## COMBINE ALL THREE
            df3 = pd.concat([df,df1, df2], ignore_index=True,axis=1)
            df3.columns = ['diagnosis','train','diagnosis2','val','diagnosis3','test']
            df3 = df3.drop(['diagnosis2','diagnosis3'], axis=1)
            display(df3)
            print(df3['diagnosis'])
#         elif i > 0:
#             print('finished fold {}, exiting...'.format(i))
            break
        i = i +1
    j = j + 1
    print('---------')
print(fold_taskname)

['AD' 'CON' 'AD' ... 'CON' 'CON' 'FTD']
(1817,)
StratifiedKFold(n_splits=5, random_state=1, shuffle=True)
StratifiedKFold(n_splits=4, random_state=2, shuffle=True)
0
TRAIN: [   1    4    7 ... 1808 1812 1816]
VAL: [   0    2    3 ... 1797 1798 1809]
TEST: [   5    6   14 ... 1813 1814 1815]
train: 1089 (0.60)
val: 364 (0.20)
test: 364 (0.20)

   diagnosis  train  val  test
0         AD    286   96    96
1     AD,DLB     62   20    20
2     ATAXIA     10    3     4
3        CON    189   63    63
4        DLB     18    6     6
5        FTD    114   38    38
6        MND      9    4     3
7         MS    141   47    47
8        MSA     35   11    11
9         PD    143   47    48
10       PSP     51   18    17
11        VD     31   11    11

0         AD
1     AD,DLB
2     ATAXIA
3        CON
4        DLB
5        FTD
6        MND
7         MS
8        MSA
9         PD
10       PSP
11        VD
Name: diagnosis, dtype: object
---------
StratifiedKFold(n_splits=4, random_state=2, shuffle=True)
0
TRAIN: [   1    5    6 ... 1813 1814 1815]
VAL: [   0    2    3 ... 1811 1812 1816]
TEST: [   4   10   17 ... 1800 1802 1809]
train: 1089 (0.60)
val: 364 (0.20)
test: 364 (0.20)

   diagnosis  train  val  test
0         AD    286   96    96
1     AD,DLB     62   20    20
2     ATAXIA      9    4     4
3        CON    189   63    63
4        DLB     18    6     6
5        FTD    114   38    38
6        MND     10    3     3
7         MS    141   47    47
8        MSA     34   11    12
9         PD    142   48    48
10       PSP     52   17    17
11        VD     32   11    10

0         AD
1     AD,DLB
2     ATAXIA
3        CON
4        DLB
5        FTD
6        MND
7         MS
8        MSA
9         PD
10       PSP
11        VD
Name: diagnosis, dtype: object
---------
StratifiedKFold(n_splits=4, random_state=2, shuffle=True)
0
TRAIN: [   1    4    7 ... 1814 1815 1816]
VAL: [   0    5    6 ... 1800 1805 1811]
TEST: [   2    3   12 ... 1795 1798 1799]
train: 1090 (0.60)
val: 364 (0.20)
test: 363 (0.20)

   diagnosis  train  val  test
0         AD    286   96    96
1     AD,DLB     62   20    20
2     ATAXIA     10    4     3
3        CON    189   63    63
4        DLB     18    6     6
5        FTD    114   38    38
6        MND     10    3     3
7         MS    141   47    47
8        MSA     34   11    12
9         PD    142   48    48
10       PSP     52   17    17
11        VD     32   11    10

0         AD
1     AD,DLB
2     ATAXIA
3        CON
4        DLB
5        FTD
6        MND
7         MS
8        MSA
9         PD
10       PSP
11        VD
Name: diagnosis, dtype: object
---------
StratifiedKFold(n_splits=4, random_state=2, shuffle=True)
0
TRAIN: [   1    2    3 ... 1813 1815 1816]
VAL: [   6    9   16 ... 1802 1812 1814]
TEST: [   0    7   11 ... 1787 1793 1805]
train: 1090 (0.60)
val: 364 (0.20)
test: 363 (0.20)

   diagnosis  train  val  test
0         AD    287   96    95
1     AD,DLB     61   20    21
2     ATAXIA     10    4     3
3        CON    189   63    63
4        DLB     18    6     6
5        FTD    114   38    38
6        MND     10    3     3
7         MS    141   47    47
8        MSA     35   11    11
9         PD    143   48    47
10       PSP     51   17    18
11        VD     31   11    11

0         AD
1     AD,DLB
2     ATAXIA
3        CON
4        DLB
5        FTD
6        MND
7         MS
8        MSA
9         PD
10       PSP
11        VD
Name: diagnosis, dtype: object
---------
StratifiedKFold(n_splits=4, random_state=2, shuffle=True)
0
TRAIN: [   0    2    3 ... 1810 1811 1814]
VAL: [   5    6    7 ... 1807 1813 1815]
TEST: [   1    8    9 ... 1808 1812 1816]
train: 1090 (0.60)
val: 364 (0.20)
test: 363 (0.20)

   diagnosis  train  val  test
0         AD    287   96    95
1     AD,DLB     61   20    21
2     ATAXIA     10    4     3
3        CON    189   63    63
4        DLB     18    6     6
5        FTD    114   38    38
6        MND      9    3     4
7         MS    141   47    47
8        MSA     34   12    11
9         PD    143   48    47
10       PSP     52   17    17
11        VD     32   10    11

0         AD
1     AD,DLB
2     ATAXIA
3        CON
4        DLB
5        FTD
6        MND
7         MS
8        MSA
9         PD
10       PSP
11        VD
Name: diagnosis, dtype: object
---------
[[array([   1,    4,    7, ..., 1808, 1812, 1816])
  array([   0,    2,    3, ..., 1797, 1798, 1809])
  array([   5,    6,   14, ..., 1813, 1814, 1815])]
 [array([   1,    5,    6, ..., 1813, 1814, 1815])
  array([   0,    2,    3, ..., 1811, 1812, 1816])
  array([   4,   10,   17, ..., 1800, 1802, 1809])]
 [array([   1,    4,    7, ..., 1814, 1815, 1816])
  array([   0,    5,    6, ..., 1800, 1805, 1811])
  array([   2,    3,   12, ..., 1795, 1798, 1799])]
 [array([   1,    2,    3, ..., 1813, 1815, 1816])
  array([   6,    9,   16, ..., 1802, 1812, 1814])
  array([   0,    7,   11, ..., 1787, 1793, 1805])]
 [array([   0,    2,    3, ..., 1810, 1811, 1814])
  array([   5,    6,    7, ..., 1807, 1813, 1815])
  array([   1,    8,    9, ..., 1808, 1812, 1816])]]

In [144]:
# fold_taskname

In [145]:
# fold_taskname[0,0]

In [146]:
# final_input

In [147]:
# final_input[fold_taskname[0][0]]

In [148]:
#np.set_printoptions(threshold=np.inf)
n_dim = 86#83
mean_taskname = np.zeros((5, 1, n_dim)) * np.nan
std_taskname = np.zeros((5, 1, n_dim)) * np.nan
for i_split in range(5):
    ## fold_taskname[i_split][0] selecteert de indexen van de training donors van elke fold
    ## final_input[fold_taskname[i_split][0]] selecteerd de training data van deze donoren
    ## de concatenate step combineer het, dus x_tr is training data per fold
    x_tr = np.concatenate(final_input[fold_taskname[i_split][0]], axis=0)
    display(x_tr)
    ## mean taskname contains the mean of each training column. eg. for the first fold, the average age is 75
    mean_taskname[i_split][0] = np.nanmean(x_tr, axis=0)
    ## std taskname contains the std of each training column. eg. for the first fold, the average age is 12
    std_taskname[i_split][0] = np.nanstd(x_tr, axis=0)
    
print(mean_taskname[0][0])
print(std_taskname[0][0])
mean_taskname

array([[ 1,  0,  0, ...,  0,  0, 97],
       [ 1,  0,  0, ...,  0,  0, 37],
       [ 1,  1,  0, ...,  0,  0, 41],
       ...,
       [ 0,  0,  0, ...,  1,  0, 69],
       [ 0,  0,  0, ...,  1,  0, 70],
       [ 0,  0,  0, ...,  1,  0, 71]])

array([[ 1,  0,  0, ...,  0,  0, 97],
       [ 1,  0,  0, ...,  0,  0,  9],
       [ 1,  0,  0, ...,  0,  0, 24],
       ...,
       [ 1,  1,  0, ...,  0,  0, 18],
       [ 1,  1,  0, ...,  0,  0, 80],
       [ 1,  0,  0, ...,  0,  0, 81]])

array([[ 1,  0,  0, ...,  0,  0, 97],
       [ 1,  0,  0, ...,  0,  0, 37],
       [ 1,  1,  0, ...,  0,  0, 41],
       ...,
       [ 0,  0,  0, ...,  1,  0, 69],
       [ 0,  0,  0, ...,  1,  0, 70],
       [ 0,  0,  0, ...,  1,  0, 71]])

array([[ 1,  0,  0, ...,  0,  0, 97],
       [ 0,  0,  0, ...,  0,  0, 79],
       [ 0,  0,  0, ...,  0,  0, 80],
       ...,
       [ 0,  0,  0, ...,  1,  0, 69],
       [ 0,  0,  0, ...,  1,  0, 70],
       [ 0,  0,  0, ...,  1,  0, 71]])

array([[  0,   0,   0, ...,   0,   0,  35],
       [  0,   0,   0, ...,   0,   0,  36],
       [  0,   0,   0, ...,   0,   0,  37],
       ...,
       [  1,   0,   0, ...,   0,   0, 100],
       [  1,   0,   0, ...,   0,   0, 101],
       [  1,   1,   0, ...,   0,   0, 102]])

[5.86528551e-01 1.73469388e-01 2.72108844e-02 ... 5.08658009e-02
 1.37548959e-01 6.08184395e+01]
[ 0.4924559   0.37865256  0.16269743 ...  0.21972362  0.34442596
 16.99164515]

array([[[5.86528551e-01, 1.73469388e-01, 2.72108844e-02, ...,
         5.08658009e-02, 1.37548959e-01, 6.08184395e+01]],

       [[5.90788399e-01, 1.52675654e-01, 3.01266340e-02, ...,
         5.47385621e-02, 1.36080474e-01, 6.01864788e+01]],

       [[5.90397485e-01, 1.62593794e-01, 2.87467045e-02, ...,
         5.44514297e-02, 1.32833097e-01, 6.05488238e+01]],

       [[5.88404310e-01, 1.60236018e-01, 3.03232427e-02, ...,
         5.80297589e-02, 1.34581837e-01, 6.05496665e+01]],

       [[5.85919219e-01, 1.52965714e-01, 2.77240818e-02, ...,
         5.83986163e-02, 1.34245600e-01, 6.06614101e+01]]])

### SAVING

In [149]:
if eighties == True:
    prefix = '80_'
elif eighties == False:
    prefix = '60_'
    
if remove3 == False and observation == False and unique == False:
    savespace = '{}clinical_history_{}_years_{}_observations'.format(prefix, str(n),str(m))

elif remove3 == False and observation == True and unique == False:
    savespace = '{}clinical_history_{}_observations'.format(prefix,str(n))

elif remove3 == False and observation == True and unique == True:
    savespace = '{}clinical_history_{}_unique_observations'.format(prefix,str(n))
                                                          
        
elif remove3 == True and observation == False and unique == False:
    savespace = '{}clinical_history_{}_years_{}_observations_subset'.format(prefix,str(n),str(m))

elif remove3 == True and observation == True and unique == False:
    savespace = '{}clinical_history_{}_observations_subset'.format(prefix,str(n))
    
elif remove3 == True and observation == True and unique == True:
    savespace = '{}clinical_history_{}_unique_observations_subset'.format(prefix,str(n))
    

print(savespace)
os.makedirs(os.path.join(output_path,  savespace),
            exist_ok=True)
np.savez(os.path.join(output_path, savespace, 'data.npz'),
         input=final_input, masking=final_masking, timestamp=final_timestamp, label_taskname=final_label_taskname)
np.savez(os.path.join(output_path, savespace, 'fold.npz'),
         fold_taskname=fold_taskname, mean_taskname=mean_taskname, std_taskname=std_taskname)

60_clinical_history_5_years_1_observations_subset